<div class="home">
 
  <h1 class=" app_name">Expense </br> Tracker</h1>

  <div class="box-btns">
    <%= link_to 'LOG IN', new_user_session_path, class: 'btn' %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn' %>
  </div>
</div>
