/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

 @import 'font-awesome';
 @import "font-awesome-sprockets";
 @import "@fortawesome/fontawesome-free/css/all";


 html {
   overflow-x: hidden;
   background-color: #d3d3d3;
 }

 body {
   max-width: auto;
   margin: -2rem;
   padding: 1.9rem;
   font-family: 'Proxima Nova', sans-serif;
   color: #434b54;
 }

 .home {
    height: 95vh;
    display: flex;
    flex-direction: column;
 }

 .app_name {
    font-style: italic;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

 .box-btns {
    display: flex;
    flex-direction: column;
 }

 .btn {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: .5rem;
    text-decoration: none;
    width: auto;
    background-color: white;
    color: black;
 }

 .btn:hover {
    background-color: #3778c2;
    color: #fff;
 }

 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3778c2;
    color: #fff;
    margin-bottom: 1rem;
 }

 .headr {
    justify-content: center;
 }

 .create {
  margin-right: 1rem;
 }

 .btnn {
   border: none;
   font-size: 1.2rem;
   background-color: #3778c2;
   color: #fff;
   margin-right: .5rem;
 }

 a {
   text-decoration: none;
 }

 .arrow {
   color: #fff;
   font-size: 1.5rem;
   padding-left: .6rem;
 }

 .input {
   border: 1px solid #C0C0C0; 
   width: 100%;
   padding: 1.2rem;
   font-size: 1rem;
 }

 .forgot {
   display: flex;
   justify-content: center;
   margin-top: 2rem;
 }

 .fogot {   
   color: #434b54;
   font-size: 1rem;
 }

 .new-path {
  color: #fff;
  background-color: #5fb523;
  padding: 1rem;
  border-radius: .5rem;
 }

 .categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .category {
  background-color: #fff;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem;
  margin-left: -2rem;
  margin-right: -2rem;
  width: 85%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
 }

 .name-category {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #434b54;
 }

 .amount-category {
  color: black;
 }

 .category-icon {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
 }

 .img-upload {
  margin: 1.2rem;

 }